body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #fff;
}

.navbar {
    background: #0c1a2a;
    /* background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-left {
    font-size: 3em;
    font-weight: bold;
}

.nav-right a {
    margin: 0 1em;
    color: #0ff;
    text-decoration: none;
    font-size: 1.5em;
}